<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/home.css">
     <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="container">
        <div>
            {{>nav}}
        </div>
        <div>
            <div class="main">
                <div class="Pf-main">
                    <div class="img"></div>
                    <div class="details"></div>
                </div>
                <div class="pf-sub"></div>
            </div>
        </div>
    </div>
</body>
</html>