*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(227, 238, 236);
}
header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    display: block;
    padding: 10px;
    display: inline-block;
    
}
header h1{
    padding: 10px;
}
header ul li:hover{
   color: aqua;
}
li a{
  text-decoration: none;
  color: black;
}
li a:hover{
  
  color: cornflowerblue;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse:collapse ;
}
 table td{
    padding: 5px;
    text-align: center;
 }
 table thead td{
    background-color: cornflowerblue;
 }
 .heading{
    padding: 10px;
    
 }
 table tbody tr:nth-child(even){
    background-color: rgb(191, 193, 197);
 }
 .edit,.delete{
    text-decoration: none;
    display: block;
    background-color: blue;
    border-radius: 3px;
    padding: 7px;
    color: white;
 }
 .delete{
    background-color: red;
 }
 .adduser{
   text-decoration: none;
   height: 40px;
   width: 80px;
   background-color: blue;
   border-radius: 3px;
   padding: 7px;
   color: white;
   text-align: center;
   font-weight: bold;
   margin-right: 10px;
   border: none;
   cursor: pointer;
 }
 .tophead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    align-items: center;

 }
 .display{
   position: absolute;
   
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: aliceblue;
   padding: 30px;
   box-shadow: 0px 40px 368px -3px;
 }
 form input{
   width: 100%;
   margin-top: 2px;
   height: 30px;
   border: 1px solid silver;
   padding-left: 10px;
 }
 form input:focus{
   border-color: aqua;
   border-bottom: 2px solid aqua;
 }
 .data{
   margin-top: 10px;
   height: 50px;
 }
 form a{
   text-decoration: none;
   color: black;
   color: aqua;
 }
 .login_btn button{
   width: 100%;
   background-color: aqua;
   height: 30px;
   margin-top: 20px;
   font-size: 20px;
   letter-spacing: 1px;
   border: none;
   color: white;
   cursor: pointer;
   
 }
 .addusertext{
      font-weight: bold;
      text-align: center;
      color: aqua;
      letter-spacing: 1px;
      font-size: 30px;
 }
 .error{
   text-align: center;
   color: red;
   padding: 10px;
 }
 .success{
   text-align: center;
   color: green;
   padding: 10px;
 }